In [81]:
import pandas as pd
import numpy as np
import numpy as np
import Levenshtein as lev

In [27]:
# Reading the file containing the dog names as a DataFrame
table = pd.read_csv('20210103_hundenamen.csv')
table

                         HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                            Ituma              2011               w
1         "Bo" Bendy of Treegarden              2020               m
2            "Bobby" Lord Sinclair              2009               m
3       "Buddy" Fortheringhay's J.              2011               m
4     "Fly" Showring i fly for you              2015               w
...                            ...               ...             ...
8569                     unbekannt              2010               w
8570                     unbekannt              2011               m
8571                     unbekannt              2018               m
8572                     unbekannt              2018               m
8573                     unbekannt              2017               m

[8574 rows x 3 columns]

The **Levenshtein distance** is a metric to measure how apart are two sequences of words. In other words, it measures the minimum number of edits that you need to do to change a one-word sequence into the other. These edits can be insertions, deletions or substitutions.

In the case of "Dog Names" table we need to find all names that have a **Levenshtein distance of 1** to "Luca" and save a file with the answer (comma-separated names, in any order).

In [79]:
lev_dist_1 = []

# Adding to a list all of the names with a Levenshtein distance of 1 to "Luca" 
for x in range(1, len(table['HUNDENAME'])):
    distance = lev.distance('Luca', table['HUNDENAME'][x])
    if distance == 1:
        lev_dist_1.append(table['HUNDENAME'][x])
        
print(lev_dist_1)

['Cuca', 'Lua', 'Lua', 'Lua', 'Lua', 'Lua', 'Lua', 'Luba', 'Lucas', 'Luce', 'Luce', 'Luce', 'Lucia', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lucy', 'Lula', 'Lula', 'Luma', 'Luma', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Luna', 'Lupa', 'Lupa', 'Lupa', 'Lupa', 'Lupa', 'Yuca']

These are all the matches found in the file with Levenshtein distance of 1 to "Luca", but we will keep the unique values omitting the repetitions.

In [82]:
print(np.unique(lev_dist_1))

['Cuca' 'Lua' 'Luba' 'Lucas' 'Luce' 'Lucia' 'Lucy' 'Lula' 'Luma' 'Luna'
 'Lupa' 'Yuca']